workflows/09-calendar-sync.json
{
  "name": "09-Calendar-Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eluxr-phase3-calendar",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "cs-webhook-001",
      "name": "Phase 3 -- Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "typeVersion": 2,
      "webhookId": "eluxr-phase3-calendar"
    },
    {
      "parameters": {
        "workflowId": "S4QtfIKpvhW4mQYG"
      },
      "id": "cs-auth-002",
      "name": "Auth Validator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-auth-cs",
              "leftValue": "={{ $json.authenticated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cs-if-003",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unauthorized', statusCode: 401 }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "cs-401-004",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        660,
        500
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/content_items?user_id=eq.{{ $json.user_id }}&status=eq.approved&order=scheduled_date.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "apikey",
              "value": "sb_publishable_9gnLO_J9HBxVta1f8Ecvxw_KO8huPYQ"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "cs-supabase-005",
      "name": "Supabase -- SELECT Approved Items",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        660,
        100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Phase 3 -- Webhook Trigger').first().json;\nconst input = $input.item.json;\n\n// Supabase returns array of approved content_items\nconst items = Array.isArray(input) ? input : (input.body || input.data || [input]);\n\n// Get approved content_ids from the frontend request body (if filtering specific items)\nconst approvedIds = webhookData.body?.content_ids || [];\n\nconst platformTimes = {\n  'linkedin': { hour: 9, minute: 0 },\n  'instagram': { hour: 12, minute: 30 },\n  'x': { hour: 15, minute: 0 },\n  'youtube': { hour: 14, minute: 0 },\n  'facebook': { hour: 10, minute: 0 },\n  'tiktok': { hour: 19, minute: 0 }\n};\n\nconst platformColors = {\n  'linkedin': '9',\n  'instagram': '4',\n  'x': '7',\n  'youtube': '11',\n  'facebook': '9',\n  'tiktok': '2'\n};\n\n// Filter to specific items if content_ids provided\nlet filteredItems = items;\nif (approvedIds.length > 0) {\n  filteredItems = items.filter(item => approvedIds.includes(item.id));\n}\n\nif (!filteredItems || filteredItems.length === 0) {\n  return [{ json: { _noEvents: true, success: true, phase: 3, message: 'No approved items to sync', events_created: 0 } }];\n}\n\nconst output = filteredItems.map(item => {\n  const platform = (item.platform || 'linkedin').toLowerCase();\n  const times = platformTimes[platform] || { hour: 9, minute: 0 };\n  const dateStr = item.scheduled_date || new Date().toISOString().split('T')[0];\n\n  const startTime = dateStr + 'T' + String(times.hour).padStart(2, '0') + ':' + String(times.minute).padStart(2, '0') + ':00';\n  const endHour = times.hour + 1;\n  const endTime = dateStr + 'T' + String(endHour).padStart(2, '0') + ':' + String(times.minute).padStart(2, '0') + ':00';\n\n  const title = item.title || item.content_type || 'Post';\n\n  return {\n    json: {\n      summary: '[' + platform.charAt(0).toUpperCase() + platform.slice(1) + '] ' + title,\n      description: 'Content Type: ' + (item.content_type || '') + '\\nPlatform: ' + platform + '\\n\\nContent: ' + (item.content || '').substring(0, 500) + '\\n\\n---\\nGenerated by ELUXR Social Media Agent',\n      startTime: startTime,\n      endTime: endTime,\n      colorId: platformColors[platform] || '9',\n      content_id: item.id\n    }\n  };\n});\n\nreturn output;"
      },
      "id": "cs-format-006",
      "name": "Format Calendar Events",
      "type": "n8n-nodes-base.code",
      "position": [
        880,
        100
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cs-loop-007",
      "name": "Loop Over Days",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1100,
        100
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "summary": "={{ $json.summary }}"
        }
      },
      "id": "cs-gcal-008",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1320,
        100
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FJBcOjKITBIaEqRV",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, phase: 3, message: 'Calendar events created', events_created: $items().length }) }}",
        "options": {}
      },
      "id": "cs-response-009",
      "name": "Phase 3 -- Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1320,
        300
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Phase 3 -- Webhook Trigger": {
      "main": [
        [
          {
            "node": "Auth Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Validator": {
      "main": [
        [
          {
            "node": "Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          {
            "node": "Supabase -- SELECT Approved Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase -- SELECT Approved Items": {
      "main": [
        [
          {
            "node": "Format Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar Events": {
      "main": [
        [
          {
            "node": "Loop Over Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Days": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Phase 3 -- Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Loop Over Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}