workflows/13-video-creator.json
{
  "name": "13-Video-Creator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eluxr-tools-video",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "vg-webhook-001",
      "name": "Video Gen \u2014 Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 300],
      "typeVersion": 2,
      "webhookId": "eluxr-tools-video"
    },
    {
      "parameters": { "workflowId": "S4QtfIKpvhW4mQYG" },
      "id": "vg-auth-exec-001",
      "name": "Auth Validate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "cond-auth-vg", "leftValue": "={{ $json.authenticated }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "vg-auth-if-001",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Authentication required' }) }}",
        "options": { "responseCode": 401 }
      },
      "id": "vg-401-001",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 500]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst prompt = body.prompt || 'Professional UGC-style promotional video';\nconst referenceImage = body.reference_image || body.image_url || '';\nconst contentId = body.content_id || '';\nconst platform = (body.platform || 'Instagram').toLowerCase();\nconst campaignId = body.campaign_id || '';\n\nlet aspectRatio = '9:16';\nif (platform === 'youtube') { aspectRatio = '16:9'; }\nif (body.aspect_ratio) { aspectRatio = body.aspect_ratio; }\n\nreturn {\n  json: {\n    prompt: prompt,\n    reference_image: referenceImage,\n    content_id: contentId,\n    campaign_id: campaignId,\n    platform: platform,\n    aspect_ratio: aspectRatio\n  }\n};"
      },
      "id": "vg-prepare-001",
      "name": "Prepare Video Request",
      "type": "n8n-nodes-base.code",
      "position": [660, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "prompt", "value": "={{ $json.prompt }}" },
          { "name": "model", "value": "veo3_fast" },
          { "name": "generationType", "value": "TEXT_2_VIDEO" },
          { "name": "aspect_ratio", "value": "={{ $json.aspect_ratio }}" }
        ]},
        "options": { "timeout": 120000, "response": { "response": { "neverError": true } } },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "vg-kie-create-001",
      "name": "KIE \u2014 Create Video Task",
      "type": "n8n-nodes-base.httpRequest",
      "position": [880, 300],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": { "httpHeaderAuth": { "id": "C0HGBV2r5w4leu8m", "name": "KIE Auth" } }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst contentId = $('Prepare Video Request').item.json.content_id;\nconst campaignId = $('Prepare Video Request').item.json.campaign_id;\n\nif (result.code && result.code !== 200 && result.code !== 0) {\n  return { json: { error: true, message: result.message || 'KIE API error', content_id: contentId, campaign_id: campaignId } };\n}\n\nconst taskId = result.data?.taskId || result.taskId || '';\nif (!taskId) {\n  return { json: { error: true, message: 'No taskId returned from KIE API', content_id: contentId, campaign_id: campaignId } };\n}\n\nreturn { json: { error: false, taskId: taskId, content_id: contentId, campaign_id: campaignId, poll_count: 0, max_polls: 24 } };"
      },
      "id": "vg-check-task-001",
      "name": "Check Task Created",
      "type": "n8n-nodes-base.code",
      "position": [1100, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "id": "task-created-check", "leftValue": "={{ $json.error }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "vg-if-task-ok-001",
      "name": "Task Created OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Failed to create video task' }) }}",
        "options": {}
      },
      "id": "vg-error-response-001",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, generating: true, content_id: $json.content_id, taskId: $json.taskId }) }}",
        "options": {}
      },
      "id": "vg-immediate-response-001",
      "name": "Generating Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300]
    },
    {
      "parameters": { "amount": 120 },
      "id": "vg-wait-001",
      "name": "Wait for Video (2min)",
      "type": "n8n-nodes-base.wait",
      "position": [1760, 300],
      "typeVersion": 1.1,
      "webhookId": "vg-wait-video-webhook"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $('Check Task Created').item.json.taskId }}",
        "options": { "response": { "response": { "neverError": true } } },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "vg-kie-get-001",
      "name": "KIE \u2014 Get Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1980, 300],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": { "httpHeaderAuth": { "id": "C0HGBV2r5w4leu8m", "name": "KIE Auth" } }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst prev = $('Check Task Created').item.json;\n\nlet videoUrl = '';\nlet isComplete = false;\n\nif (result.data && (result.data.successFlag === '1' || result.data.successFlag === 1)) {\n  isComplete = true;\n  if (result.data.resultJson) {\n    try {\n      const parsed = JSON.parse(result.data.resultJson);\n      if (parsed.resultUrls && parsed.resultUrls.length > 0) { videoUrl = parsed.resultUrls[0]; }\n    } catch(e) { videoUrl = result.data.videoUrl || result.data.video_url || ''; }\n  }\n}\n\nconst pollCount = (prev.poll_count || 0) + 1;\n\nreturn { json: { is_complete: isComplete, video_url: videoUrl, taskId: prev.taskId, content_id: prev.content_id, campaign_id: prev.campaign_id, poll_count: pollCount, max_polls: prev.max_polls || 24, can_retry: pollCount < (prev.max_polls || 24) } };"
      },
      "id": "vg-parse-status-001",
      "name": "Parse Video Status",
      "type": "n8n-nodes-base.code",
      "position": [2200, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "id": "video-complete-check", "leftValue": "={{ $json.is_complete }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "vg-if-complete-001",
      "name": "Video Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2420, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/content_items?id=eq.{{ $json.content_id }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MDcxMjExOCwiZXhwIjoyMDU2Mjg4MTE4fQ.8dxLjPJOJkqVmRuY5pKT3kEi_bXj-A7GXOcSdN1XJvk" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MDcxMjExOCwiZXhwIjoyMDU2Mjg4MTE4fQ.8dxLjPJOJkqVmRuY5pKT3kEi_bXj-A7GXOcSdN1XJvk" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "return=minimal" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_url: $json.video_url, updated_at: new Date().toISOString() }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "vg-update-supabase-001",
      "name": "Update Content \u2014 Video URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2640, 200],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "id": "can-retry-check", "leftValue": "={{ $json.can_retry }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "vg-if-retry-001",
      "name": "Can Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2640, 500]
    },
    {
      "parameters": { "amount": 15 },
      "id": "vg-retry-wait-001",
      "name": "Retry Wait (15s)",
      "type": "n8n-nodes-base.wait",
      "position": [2860, 400],
      "typeVersion": 1.1,
      "webhookId": "vg-retry-wait-webhook"
    }
  ],
  "connections": {
    "Video Gen \u2014 Webhook": { "main": [[{ "node": "Auth Validate", "type": "main", "index": 0 }]] },
    "Auth Validate": { "main": [[{ "node": "Auth OK?", "type": "main", "index": 0 }]] },
    "Auth OK?": { "main": [[{ "node": "Prepare Video Request", "type": "main", "index": 0 }], [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]] },
    "Prepare Video Request": { "main": [[{ "node": "KIE \u2014 Create Video Task", "type": "main", "index": 0 }]] },
    "KIE \u2014 Create Video Task": { "main": [[{ "node": "Check Task Created", "type": "main", "index": 0 }]] },
    "Check Task Created": { "main": [[{ "node": "Task Created OK?", "type": "main", "index": 0 }]] },
    "Task Created OK?": { "main": [[{ "node": "Generating Response", "type": "main", "index": 0 }], [{ "node": "Error Response", "type": "main", "index": 0 }]] },
    "Generating Response": { "main": [[{ "node": "Wait for Video (2min)", "type": "main", "index": 0 }]] },
    "Wait for Video (2min)": { "main": [[{ "node": "KIE \u2014 Get Video Status", "type": "main", "index": 0 }]] },
    "KIE \u2014 Get Video Status": { "main": [[{ "node": "Parse Video Status", "type": "main", "index": 0 }]] },
    "Parse Video Status": { "main": [[{ "node": "Video Complete?", "type": "main", "index": 0 }]] },
    "Video Complete?": { "main": [[{ "node": "Update Content \u2014 Video URL", "type": "main", "index": 0 }], [{ "node": "Can Retry?", "type": "main", "index": 0 }]] },
    "Can Retry?": { "main": [[{ "node": "Retry Wait (15s)", "type": "main", "index": 0 }], []] },
    "Retry Wait (15s)": { "main": [[{ "node": "KIE \u2014 Get Video Status", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" }
}
