workflows/14-pipeline-orchestrator.json
{
  "name": "ELUXR 14-Pipeline-Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eluxr-generate-content",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "orch-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "eluxr-generate-content-orch"
    },
    {
      "parameters": {
        "workflowId": "S4QtfIKpvhW4mQYG"
      },
      "id": "orch-0001-4000-8000-000000000002",
      "name": "Auth Validator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-auth-check",
              "leftValue": "={{ $json.authenticated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000003",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"Unauthorized\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "orch-0001-4000-8000-000000000004",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?user_id=eq.{{ $json.user_id }}&status=eq.running&select=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "orch-0001-4000-8000-000000000005",
      "name": "Check Existing Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-running",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000006",
      "name": "Has Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, status: \"accepted\", pipeline_run_id: $json.id, resumed: true }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "orch-0001-4000-8000-000000000007",
      "name": "Return Existing Run",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Reference Auth Validator output by name (HTTP Request replaced $json)\nconst authData = $('Auth Validator').item.json;\nconst userId = authData.user_id;\nconst email = authData.email || '';\nconst body = authData.body || {};\nreturn {\n  json: {\n    user_id: userId,\n    pipeline_type: 'full_pipeline',\n    status: 'running',\n    current_step: 0,\n    total_steps: 6,\n    step_label: 'Starting...',\n    step_progress: 0,\n    started_at: new Date().toISOString(),\n    metadata: {\n      business_url: body.business_url || '',\n      industry: body.industry || '',\n      month: body.month || '',\n      products: body.products || '',\n      brand_voice: body.brand_voice || '',\n      platforms: body.platforms || []\n    },\n    body: body,\n    email: email\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000008",
      "name": "Create Pipeline Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, pipeline_type: $json.pipeline_type, status: $json.status, current_step: $json.current_step, total_steps: $json.total_steps, step_label: $json.step_label, step_progress: $json.step_progress, started_at: $json.started_at, metadata: $json.metadata }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000009",
      "name": "INSERT pipeline_runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "jsCode": "const insertResult = $input.item.json;\n// PostgREST returns array with Prefer: return=representation\nconst row = Array.isArray(insertResult) ? insertResult[0] : insertResult;\nconst runId = row.id;\nconst metadata = row.metadata || {};\n\n// Recover email and body from the Create Pipeline Run node\nconst createNode = $('Create Pipeline Run').item.json;\n\nreturn {\n  json: {\n    pipeline_run_id: runId,\n    user_id: row.user_id,\n    body: createNode.body || metadata,\n    email: createNode.email || metadata.email || ''\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000010",
      "name": "Extract Run ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, status: \"accepted\", pipeline_run_id: $json.pipeline_run_id }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "orch-0001-4000-8000-000000000011",
      "name": "Respond 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: 1, step_label: \"Analyzing your business...\", step_progress: 0, status: \"running\", updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000012",
      "name": "Update Step 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 200]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_01_ICP_ANALYZER_ID"
      },
      "id": "orch-0001-4000-8000-000000000013",
      "name": "Execute 01-ICP-Analyzer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: 2, step_label: \"Creating content themes...\", step_progress: 0, status: \"running\", updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000014",
      "name": "Update Step 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 200]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_02_THEME_GENERATOR_ID"
      },
      "id": "orch-0001-4000-8000-000000000015",
      "name": "Execute 02-Theme-Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2640, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: 3, step_label: \"Writing posts...\", step_progress: 0, status: \"running\", updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000016",
      "name": "Update Step 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 200]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_04_CONTENT_STUDIO_ID"
      },
      "id": "orch-0001-4000-8000-000000000017",
      "name": "Execute 04-Content-Studio",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3080, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: 4, step_label: \"Generating images...\", step_progress: 0, status: \"running\", updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000018",
      "name": "Update Step 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 200]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_11_IMAGE_GENERATOR_ID"
      },
      "id": "orch-0001-4000-8000-000000000019",
      "name": "Execute 11-Image-Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3520, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: 5, step_label: \"Creating videos...\", step_progress: 0, status: \"running\", updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000020",
      "name": "Update Step 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3740, 200]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_13_VIDEO_CREATOR_ID"
      },
      "id": "orch-0001-4000-8000-000000000021",
      "name": "Execute 13-Video-Creator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3960, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: 6, step_label: \"Syncing calendar...\", step_progress: 0, status: \"running\", updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000022",
      "name": "Update Step 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4180, 200]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_09_CALENDAR_SYNC_ID"
      },
      "id": "orch-0001-4000-8000-000000000023",
      "name": "Execute 09-Calendar-Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [4400, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: \"completed\", current_step: 6, step_label: \"Complete!\", step_progress: 100, completed_at: new Date().toISOString(), updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000024",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4620, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Auth Validator", "type": "main", "index": 0 }
        ]
      ]
    },
    "Auth Validator": {
      "main": [
        [
          { "node": "Auth OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          { "node": "Check Existing Run", "type": "main", "index": 0 }
        ],
        [
          { "node": "401 Unauthorized", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Existing Run": {
      "main": [
        [
          { "node": "Has Running?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Running?": {
      "main": [
        [
          { "node": "Return Existing Run", "type": "main", "index": 0 }
        ],
        [
          { "node": "Create Pipeline Run", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Pipeline Run": {
      "main": [
        [
          { "node": "INSERT pipeline_runs", "type": "main", "index": 0 }
        ]
      ]
    },
    "INSERT pipeline_runs": {
      "main": [
        [
          { "node": "Extract Run ID", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Run ID": {
      "main": [
        [
          { "node": "Respond 202", "type": "main", "index": 0 }
        ]
      ]
    },
    "Respond 202": {
      "main": [
        [
          { "node": "Update Step 1", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Step 1": {
      "main": [
        [
          { "node": "Execute 01-ICP-Analyzer", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute 01-ICP-Analyzer": {
      "main": [
        [
          { "node": "Update Step 2", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Step 2": {
      "main": [
        [
          { "node": "Execute 02-Theme-Generator", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute 02-Theme-Generator": {
      "main": [
        [
          { "node": "Update Step 3", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Step 3": {
      "main": [
        [
          { "node": "Execute 04-Content-Studio", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute 04-Content-Studio": {
      "main": [
        [
          { "node": "Update Step 4", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Step 4": {
      "main": [
        [
          { "node": "Execute 11-Image-Generator", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute 11-Image-Generator": {
      "main": [
        [
          { "node": "Update Step 5", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Step 5": {
      "main": [
        [
          { "node": "Execute 13-Video-Creator", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute 13-Video-Creator": {
      "main": [
        [
          { "node": "Update Step 6", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Step 6": {
      "main": [
        [
          { "node": "Execute 09-Calendar-Sync", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute 09-Calendar-Sync": {
      "main": [
        [
          { "node": "Mark Complete", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
