workflows/14-pipeline-orchestrator.json
{
  "name": "ELUXR 14-Pipeline-Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eluxr-generate-content",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "orch-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "eluxr-generate-content-orch"
    },
    {
      "parameters": {
        "workflowId": "S4QtfIKpvhW4mQYG"
      },
      "id": "orch-0001-4000-8000-000000000002",
      "name": "Auth Validator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-auth-check",
              "leftValue": "={{ $json.authenticated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000003",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"Unauthorized\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "orch-0001-4000-8000-000000000004",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/pipeline_runs?user_id=eq.{{ $json.user_id }}&status=eq.running&select=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "orch-0001-4000-8000-000000000005",
      "name": "Check Existing Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        100
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-running",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000006",
      "name": "Has Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, status: \"accepted\", pipeline_run_id: $json.id, resumed: true }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "orch-0001-4000-8000-000000000007",
      "name": "Return Existing Run",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Reference Auth Validator output by name (HTTP Request replaced $json)\nconst authData = $('Auth Validator').item.json;\nconst userId = authData.user_id;\nconst email = authData.email || '';\nconst body = authData.body || {};\n\n// Capture the original Authorization header for passing to sub-workflows\nconst webhookData = $('Webhook').item.json;\nconst authHeader = (webhookData.headers || {}).authorization || (webhookData.headers || {}).Authorization || '';\n\nreturn {\n  json: {\n    user_id: userId,\n    pipeline_type: 'full_pipeline',\n    status: 'running',\n    current_step: 0,\n    total_steps: 6,\n    step_label: 'Starting...',\n    step_progress: 0,\n    started_at: new Date().toISOString(),\n    metadata: {\n      business_url: body.business_url || '',\n      industry: body.industry || '',\n      month: body.month || new Date().toISOString().slice(0, 7),\n      products: body.products || '',\n      brand_voice: body.brand_voice || '',\n      platforms: (body.platforms && body.platforms.length > 0) ? body.platforms : ['linkedin', 'instagram', 'x', 'youtube'],\n      auth_token: authHeader\n    },\n    body: body,\n    email: email,\n    auth_header: authHeader\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000008",
      "name": "Create Pipeline Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/pipeline_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, pipeline_type: $json.pipeline_type, status: $json.status, current_step: $json.current_step, total_steps: $json.total_steps, step_label: $json.step_label, step_progress: $json.step_progress, started_at: $json.started_at, metadata: $json.metadata }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000009",
      "name": "INSERT pipeline_runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const insertResult = $input.item.json;\n// PostgREST returns array with Prefer: return=representation\nconst row = Array.isArray(insertResult) ? insertResult[0] : insertResult;\nconst runId = row.id;\nconst metadata = row.metadata || {};\n\n// Recover email, body, and auth header from the Create Pipeline Run node\nconst createNode = $('Create Pipeline Run').item.json;\n\nreturn {\n  json: {\n    pipeline_run_id: runId,\n    user_id: row.user_id,\n    body: createNode.body || metadata,\n    email: createNode.email || metadata.email || '',\n    auth_header: createNode.auth_header || '',\n    callback_url: 'https://flowbound.app.n8n.cloud/webhook/eluxr-pipeline-callback'\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000010",
      "name": "Extract Run ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, status: \"accepted\", pipeline_run_id: $json.pipeline_run_id }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "orch-0001-4000-8000-000000000011",
      "name": "Respond 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run ID').item.json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: 1, step_label: \"Analyzing your business...\", step_progress: 0, status: \"running\", updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000012",
      "name": "Update Step 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://flowbound.app.n8n.cloud/webhook/eluxr-phase1-analyzer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Extract Run ID').item.json.auth_header }}"
            },
            {
              "name": "X-Pipeline-Secret",
              "value": "eluxr-pipeline-internal-2024"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_url: $('Extract Run ID').item.json.body.business_url || '', industry: $('Extract Run ID').item.json.body.industry || '', month: $('Extract Run ID').item.json.body.month || '', products: $('Extract Run ID').item.json.body.products || '', brand_voice: $('Extract Run ID').item.json.body.brand_voice || '', platforms: $('Extract Run ID').item.json.body.platforms || [], pipeline_run_id: $('Extract Run ID').item.json.pipeline_run_id, callback_url: $('Extract Run ID').item.json.callback_url, user_id: $('Extract Run ID').item.json.user_id }) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "orch-0001-4000-8000-000000000013",
      "name": "Fire 01-ICP-Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eluxr-pipeline-callback",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000030",
      "name": "Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        800
      ],
      "webhookId": "eluxr-pipeline-callback-orch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-secret-check",
              "leftValue": "={{ $json.headers['x-pipeline-secret'] || $json.headers['X-Pipeline-Secret'] || '' }}",
              "rightValue": "eluxr-pipeline-internal-2024",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000031",
      "name": "Valid Secret?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Reject unauthorized callback\nreturn {\n  json: {\n    error: 'Unauthorized callback',\n    status: 403\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000032",
      "name": "403 Forbidden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst pipelineRunId = body.pipeline_run_id;\nconst completedStep = body.step;\nconst status = body.status || 'complete';\nconst errorMessage = body.error_message || '';\nconst data = body.data || {};\n\n// Recover auth token and context from pipeline_runs metadata\n// (stored during Create Pipeline Run)\nconst authToken = body.auth_token || data.auth_token || '';\nconst context = data.context || {};\n\n// Define pipeline stages: what to fire AFTER each step completes\nconst stages = {\n  1: { step: 2, label: 'Creating content themes...', webhook: 'eluxr-phase2-themes', week_number: null },\n  2: { step: 3, label: 'Generating Week 1 content...', webhook: 'eluxr-phase4-studio', week_number: 1 },\n  3: { step: 4, label: 'Generating Week 2 content...', webhook: 'eluxr-phase4-studio', week_number: 2 },\n  4: { step: 5, label: 'Generating Week 3 content...', webhook: 'eluxr-phase4-studio', week_number: 3 },\n  5: { step: 6, label: 'Generating Week 4 content...', webhook: 'eluxr-phase4-studio', week_number: 4 },\n  6: { step: null, label: 'Complete!', webhook: null, week_number: null }\n};\n\n// Handle error status from sub-workflow\nif (status === 'error') {\n  return {\n    json: {\n      action: 'mark_failed',\n      pipeline_run_id: pipelineRunId,\n      completed_step: completedStep,\n      error_message: errorMessage\n    }\n  };\n}\n\nconst nextStage = stages[completedStep];\nif (!nextStage) {\n  return {\n    json: {\n      action: 'mark_failed',\n      pipeline_run_id: pipelineRunId,\n      completed_step: completedStep,\n      error_message: 'Unknown step: ' + completedStep\n    }\n  };\n}\n\nif (nextStage.step === null) {\n  // Pipeline complete (step 6 finished)\n  return {\n    json: {\n      action: 'mark_complete',\n      pipeline_run_id: pipelineRunId,\n      completed_step: completedStep\n    }\n  };\n}\n\n// Fire next stage\nreturn {\n  json: {\n    action: 'fire_next',\n    pipeline_run_id: pipelineRunId,\n    completed_step: completedStep,\n    next_step: nextStage.step,\n    step_label: nextStage.label,\n    webhook_path: nextStage.webhook,\n    week_number: nextStage.week_number,\n    auth_token: authToken,\n    context: context\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000033",
      "name": "Route Next Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "fire_next",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Fire Next"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mark_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mark_failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Failed"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "orch-0001-4000-8000-000000000034",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        800
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/pipeline_runs?id=eq.{{ $json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_step: $json.next_step, step_label: $json.step_label, step_progress: 0, status: 'running', updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "orch-0001-4000-8000-000000000035",
      "name": "Update Next Step Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Recover pipeline_run_id from Route Next Stage (callback body), NOT from PATCH response\n// PATCH response has 'id' field, not 'pipeline_run_id' \u2014 this was causing undefined propagation\nconst routeData = $('Route Next Stage').item.json;\nconst runId = routeData.pipeline_run_id;\nconst nextStep = routeData.next_step;\nconst webhookPath = routeData.webhook_path;\nconst weekNumber = routeData.week_number;\nconst authToken = routeData.auth_token;\nconst context = routeData.context || {};\n\n// Get pipeline_runs row to recover metadata\nconst patchResult = $input.item.json;\nconst row = Array.isArray(patchResult) ? patchResult[0] : patchResult;\nconst metadata = row.metadata || {};\n\nreturn {\n  json: {\n    webhook_url: 'https://flowbound.app.n8n.cloud/webhook/' + webhookPath,\n    fire_body: {\n      pipeline_run_id: runId,\n      callback_url: 'https://flowbound.app.n8n.cloud/webhook/eluxr-pipeline-callback',\n      user_id: row.user_id || metadata.user_id || '',\n      business_url: metadata.business_url || context.business_url || '',\n      industry: metadata.industry || context.industry || '',\n      month: metadata.month || context.month || new Date().toISOString().slice(0, 7),\n      platforms: (metadata.platforms && metadata.platforms.length > 0) ? metadata.platforms : (context.platforms && context.platforms.length > 0) ? context.platforms : ['linkedin', 'instagram', 'x', 'youtube'],\n      brand_voice: metadata.brand_voice || context.brand_voice || '',\n      week_number: weekNumber\n    },\n    auth_token: authToken || metadata.auth_token || ''\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000036",
      "name": "Prepare Fire Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth_token }}"
            },
            {
              "name": "X-Pipeline-Secret",
              "value": "eluxr-pipeline-internal-2024"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fire_body) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "orch-0001-4000-8000-000000000037",
      "name": "Fire Next Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        600
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Return success for the callback webhook response\nreturn {\n  json: {\n    success: true,\n    action: 'fired_next_stage',\n    next_step: $('Route Next Stage').item.json.next_step,\n    step_label: $('Route Next Stage').item.json.step_label\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000038",
      "name": "Callback Response OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        600
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/pipeline_runs?id=eq.{{ $json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'completed', current_step: 6, step_label: 'Complete!', step_progress: 100, completed_at: new Date().toISOString(), updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000039",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return success for the callback webhook response\nreturn {\n  json: {\n    success: true,\n    action: 'pipeline_complete',\n    pipeline_run_id: $('Route Next Stage').item.json.pipeline_run_id\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000040",
      "name": "Callback Response Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        800
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://llpnwaoxisfwptxvdfed.supabase.co/rest/v1/pipeline_runs?id=eq.{{ $json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxscG53YW94aXNmd3B0eHZkZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIyMzg2MCwiZXhwIjoyMDg3Nzk5ODYwfQ._BXPXKrHc6IdAuQNb22SryC69FCdcL_qQzcWKIj78gs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', error_message: $json.error_message || 'Pipeline failed at step ' + $json.completed_step, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "orch-0001-4000-8000-000000000041",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return error info for the callback webhook response\nreturn {\n  json: {\n    success: false,\n    action: 'pipeline_failed',\n    pipeline_run_id: $('Route Next Stage').item.json.pipeline_run_id,\n    error_message: $('Route Next Stage').item.json.error_message\n  }\n};"
      },
      "id": "orch-0001-4000-8000-000000000042",
      "name": "Callback Response Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1000
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Validator": {
      "main": [
        [
          {
            "node": "Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          {
            "node": "Check Existing Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Run": {
      "main": [
        [
          {
            "node": "Has Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Running?": {
      "main": [
        [
          {
            "node": "Return Existing Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pipeline Run": {
      "main": [
        [
          {
            "node": "INSERT pipeline_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT pipeline_runs": {
      "main": [
        [
          {
            "node": "Extract Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run ID": {
      "main": [
        [
          {
            "node": "Respond 202",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 202": {
      "main": [
        [
          {
            "node": "Update Step 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Step 1": {
      "main": [
        [
          {
            "node": "Fire 01-ICP-Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Webhook": {
      "main": [
        [
          {
            "node": "Valid Secret?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Secret?": {
      "main": [
        [
          {
            "node": "Route Next Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Next Stage": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Update Next Step Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Next Step Progress": {
      "main": [
        [
          {
            "node": "Prepare Fire Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fire Payload": {
      "main": [
        [
          {
            "node": "Fire Next Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire Next Stage": {
      "main": [
        [
          {
            "node": "Callback Response OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete": {
      "main": [
        [
          {
            "node": "Callback Response Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Failed": {
      "main": [
        [
          {
            "node": "Callback Response Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}