workflows/ELUXR Auth Test.json
{
  "name": "ELUXR Auth Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eluxr-auth-test",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Auth Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "auth-test-webhook-001"
    },
    {
      "parameters": {
        "workflowId": "ltscbuGU8ovNzLvo",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Run Auth Validator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-auth-result",
              "leftValue": "={{ $json.authenticated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, user_id: $json.user_id, email: $json.email, message: \"Auth validation successful\", received_body: $json.body }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || \"Authentication failed\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Auth Failed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Auth Test Webhook": {
      "main": [
        [
          {
            "node": "Run Auth Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Auth Validator": {
      "main": [
        [
          {
            "node": "Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0e6741f6-5746-4dc5-a12d-649154bfb0d7",
  "meta": {
    "instanceId": "e95bbe9fd8f4a041bfaa186910d113b9309428bea1d9e0260ddfcf3efe45a60a"
  },
  "id": "xTD3cxVUqH5ZMecQ",
  "tags": []
}